<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <link href="../css/pico.min.css" rel="stylesheet" type="text/css">
    <link href="http://inner/css/pico.min.css" rel="stylesheet" type="text/css">
    <title>初始化面板</title>
</head>
<body>
<main class="container">
    <h2>首次安装请先点击下方按钮进行数据源初始化，这可能需要一点时间，后续不需要执行此操作</h2>
    <h4>小提示：</h4>
    <ul>
        <li>这是一句凑字数的废话。</li>
    </ul>

    <!-- Progress -->
    <section id="progress" hidden="hidden">
        <h2>执行进度</h2>
        <progress id="progress-1" value="1" max="100"></progress>
    </section>
    <!-- ./ Progress -->
    <button id="init" aria-busy="false" onclick="processInit()">点我</button>




</main>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        window.location.href= 'https://www.baidu.com';
        window.queryGlobalStyle({
            request: 'request', onSuccess: function (response) {
                window.location.href = "http://inner/template/test.html";
                let result = JSON.parse(response);
                let theme = result.globalColorStyle === 'dark' ? 'dark' : 'light';
                document.documentElement.setAttribute('data-theme', theme);
            }, onFailure: function (error_code, error_message) {
            }
        });
    });

    function processInit() {
        let initButton = document.getElementById("init");
        initButton.setAttribute("aria-busy", "true");
        initButton.innerText = "正在初始化，请稍后...";
        let process = document.getElementById("progress");
        process.removeAttribute("hidden");
        let progressElement = document.getElementById("progress-1");
        let currentValue = 1;
        let maxValue = 100;
        let speed = 50; // 初始速度
        let ins = 1;
        function updateProgress() {
            if (progressElement.value === maxValue) {
                return;
            }
            if (currentValue < maxValue - 1) {
                if (currentValue >= 90) {
                    speed = 200 + speed * ins++; // 进度达到90时减慢速度
                }
                currentValue++;
                progressElement.value = currentValue;
                setTimeout(updateProgress, speed);
            }
        }

        updateProgress();
        window.processInit({
            request: 'request', onSuccess: function (response) {
                let result = JSON.parse(response);
                initButton.setAttribute("aria-busy", "false");
                initButton.innerText = "初始化成功";
                progressElement.value = maxValue;
                setTimeout(function () {
                    window.location.href = "http://inner/template/test.html";
                }, 1000);
            }, onFailure: function (error_code, error_message) {
                process.setAttribute("hidden", "hidden")
                initButton.setAttribute("aria-busy", "false");
                initButton.innerText = "初始化失败";
            }
        });
    }


</script>
</body>
</html>
