<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme"/>
    <link href="../css/pico.min.css" rel="stylesheet" type="text/css">
    <link href="http://inner/css/pico.min.css" rel="stylesheet" type="text/css">
    <script src="http://inner/js/theme.js"></script>
    <title>systemTraining</title>
</head>
<body>
<main class="container">




</main>
<script>


</script>
</body>
</html>
