<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <style>
        :root {
            --bg-color: #3D3F41FF;
            --text-color: #A9A9A9FF;
            --text-size: 15px;
        }
        body {
            background-color: var(--bg-color);
            color: var(--text-color);
            font-size: var(--text-size);
        }
    </style>
</head>
<body>
<h1>测试</h1>
<div>ajskdakce大爸家</div>
<script>
    window.onload = function () {
        function f() {
            alert('f');
        }
        f();
        // //参数可以带过来
        // alert(window.location.href);
        window.queryGlobalStyle({
            request: 'request', onSuccess: function (response) {
                alert(response);
                let result = JSON.parse(response);
                let textColor = result.globalColorStyle === 'dark' ?  '#A9A9A9FF' : '#000000FF';
                let background = result.globalColorStyle === 'dark' ?  '#3D3F41FF' : '#FFFFFF';
                document.documentElement.style.setProperty('--bg-color', background);
                document.documentElement.style.setProperty('--text-color', textColor);
                document.documentElement.style.setProperty('--text-size', result.fontSize + 'px');
            }, onFailure: function (error_code, error_message) {
            }
        });




    }


</script>
</body>
</html>
