<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>订座成功|&lt;span th:text=${foreignHeaderTitle}&gt;&lt;/span</title></head>
<body style="margin: 0; padding: 0 30px; font-size: 14px;text-size-adjust: 100%;">
<table align="center" border="0" cellpadding="0" cellspacing="0"
       style="min-width: 320px; max-width: 600px;width: 100%;padding: 0 15px;">
    <tbody>
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0"
                   style="border-collapse: collapse;min-width: 320px; max-width: 600px;width: 100%;">
                <tbody>
                <tr>
                    <td align="center"><img alt="Meituan" style="margin-top: 30px; margin-bottom: 20px;"
                                            th:if="${ not #strings.isEmpty(bookInfoHeaderLogo)}"
                                            th:src="${bookInfoHeaderLogo}" width="228px"/></td>
                </tr>
                <tr>
                    <td align="center" width="300px">
                        <div style="background: #FFF7F5;height: 80px; border-radius: 5px; color: #FF6633;padding-top: 19px;">
                            <img alt="success" height="18px" src="https://p0.meituan.net/travelcube/3d0cd64e9166e23e197a2e3b6f4f04201893.png"
                                 style="vertical-align: middle;"
                                 width="18px"/> <span
                                style="font-size: 18px;vertical-align: middle;font-weight: bold;">订座成功</span>
                            <p style="margin:0;margin-top: 10px;">美团与 <span th:text="${otaName}"></span>祝您用餐愉快！
                            </p></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div style="display: inline-block;text-align: center;margin-top: 20px;margin-bottom: 25px;"
                 th:if="${ not #strings.isEmpty(receipt)}">
                <div style="border: 1px solid #111111;line-height: 21px;font-size: 10px;color: #111111;font-weight: bold;border-radius: 5px 5px 0 0;">
                    预约码
                </div>
                <div style="padding: 0 10px;background: #111111;color:#ffffff;line-height: 30px;border-radius: 0 0 5px 5px;font-weight: bold;">
                    <span th:text="${receipt}"></span></div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;min-width: 320px; max-width: 600px;width: 100%;"
                   width="600">
                <tbody>
                <tr>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;vertical-align: middle;"
                        width="103px">
                        <img height="14" src="https://p0.meituan.net/travelcube/70729635765d89309f63f67dd8b4be811196.png" style="vertical-align: middle;margin-right: 3px;"
                             width="14"/> <span
                            style="vertical-align: middle;">商户名称</span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;vertical-align: middle;">
                        <span th:text="${poiName}"></span></td>
                </tr>
                <tr>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="100px"><img
                            height="14" src="https://p1.meituan.net/travelcube/9b13473c98a459db58370db1aba4fc0e1838.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;">地址</span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${address}"></span></td>
                </tr>
                <tr>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="100px"><img
                            height="14" src="https://p0.meituan.net/travelcube/e99b2ee46b01e654317c80c3cc6f4deb1239.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;">预约人姓名</span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${chineseName}"></span></td>
                </tr>
                <tr>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="100px"><img
                            height="14" src="https://p1.meituan.net/travelcube/6d2e9c3518606ba0d96776af2002956e1101.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;">预约人数</span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${seatType}"></span>人
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="100px"><img
                            height="14" src="https://p0.meituan.net/travelcube/1b9027f6ac047fe95c70ec445d1e557b1122.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;">预约时间</span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${reverseTime}"></span></td>
                </tr>
                <tr>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="100px"><img
                            height="14" src="https://p1.meituan.net/travelcube/082ce46036e1a6dcb168aac3c5e4ec6f1495.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;">联系人手机号</span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${phone}"></span></td>
                </tr>
                <tr th:if="${discountStyle}">
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="100px"><img
                            height="14" src="https://p0.meituan.net/travelcube/324887caca1eee9dff4a4949908e26b01027.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;">菜品折扣</span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${discount}"></span>折
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" style="border-collapse: collapse;min-width: 320px; max-width: 600px;width: 100%;">
                <tbody>
                <tr align="center">
                    <td style="font-weight: bold; font-size: 14px; color: #111111; letter-spacing: 0; text-align: center; line-height: 14px;padding-top: 30px;">
                        政策信息
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <div style="background: #FF6633;border-radius: 1px;width:30px;height:2px;margin-top: 8px;"></div>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 12px; font-weight: 18px; color: #555555; font-weight: normal;">
                        <ul style="padding-left: 15px;" th:each="policy:${policies}">
                            <li style="margin-bottom: 8px" th:text="${policy}"></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" style="border-collapse: collapse;min-width: 320px; max-width: 600px;width: 100%;">
                <tbody>
                <tr align="center">
                    <td style="font-weight: bold; font-size: 14px; color: #111111; letter-spacing: 0; text-align: center; line-height: 14px;padding-top: 30px;">
                        温馨提示
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <div style="background: #FF6633;border-radius: 1px;width:30px;height:2px;margin-top: 8px;"></div>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 12px; font-weight: 18px; color: #555555; font-weight: normal;">
                        <ul style="padding-left: 15px;margin-bottom: 0;" th:each="tip:${tips}">
                            <li style="margin-bottom: 8px" th:text="${tip}"></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr th:if="${depositStyle}">
        <td>
            <table border="0" style="border-collapse: collapse;min-width: 320px; max-width: 600px;width: 100%;">
                <tbody>
                <tr align="center">
                    <td style="font-weight: bold; font-size: 14px; color: #111111; letter-spacing: 0; text-align: center; line-height: 14px;padding-top: 30px;">
                        押金说明
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <div style="background: #FF6633;border-radius: 1px;width:30px;height:2px;margin-top: 8px;"></div>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 12px; font-weight: 18px; color: #555555; font-weight: normal;">
                        <ul style="padding-left: 15px;margin-bottom: 0;" th:each="depositDesc:${depositDescs}">
                            <li style="margin-bottom: 8px" th:text="${depositDesc}"></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div style="background: #FAFAFA; border-radius: 5px; color: #ACACAC; font-size: 12px; text-align: center; padding: 9px 0; margin-bottom: 30px; margin-top: 30px;">
                美团-境外度假
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="border-bottom: 1px solid #F0F0F0;width: 100%;"></div>
        </td>
    </tr>
    </tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0"
       style="min-width: 320px; max-width: 600px;width: 100%;padding: 0 15px;">
    <tbody>
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0"
                   style="border-collapse: collapse;min-width: 320px; max-width: 600px;width: 100%;">
                <tbody>
                <tr>
                    <td align="center"><img alt="Meituan" style="margin-top: 30px; margin-bottom: 20px;"
                                            th:if="${ not #strings.isEmpty(bookInfoHeaderLogo)}"
                                            th:src="${bookInfoHeaderLogo}" width="228px"/></td>
                </tr>
                <tr>
                    <td align="center" width="300px">
                        <div style="background: #FFF7F5;height: 80px; border-radius: 5px; color: #FF6633;padding-top: 19px;">
                            <img alt="success" height="18px" src="https://p0.meituan.net/travelcube/3d0cd64e9166e23e197a2e3b6f4f04201893.png"
                                 style="vertical-align: middle;"
                                 width="18px"/> <span style="font-size: 18px;vertical-align: middle;font-weight: bold;"
                                                       th:text="${foreignHeaderTitle}"></span>
                            <p style="margin:0;margin-top: 10px;" th:text="${foreignHeaderDesc}"></p></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div style="display: inline-block;text-align: center;margin-top: 20px;margin-bottom: 25px;"
                 th:if="${ not #strings.isEmpty(receipt)}">
                <div style="border: 1px solid #111111;line-height: 21px;font-size: 10px;color: #111111;font-weight: bold; border-radius: 5px 5px 0 0;">
                    <span style="padding: 0 10px;" th:text="${foreignReceiptLabel}"></span></div>
                <div style="padding: 0 10px;background: #111111;color:#ffffff;line-height: 30px;border-radius: 0 0 5px 5px;font-weight: bold;">
                    <span th:text="${receipt}"></span></div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;min-width: 320px; max-width: 600px;width: 100%;"
                   width="600">
                <tbody>
                <tr>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="103px"><img
                            height="14" src="https://p0.meituan.net/travelcube/70729635765d89309f63f67dd8b4be811196.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;" th:text="${foreignPoiNameLabel}"></span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${foreignPoiName}"></span></td>
                </tr>
                <tr>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="100px"><img
                            height="14" src="https://p1.meituan.net/travelcube/9b13473c98a459db58370db1aba4fc0e1838.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;" th:text="${foreignAddressLabel}"></span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${address}"></span></td>
                </tr>
                <tr>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="100px"><img
                            height="14" src="https://p0.meituan.net/travelcube/e99b2ee46b01e654317c80c3cc6f4deb1239.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;" th:text="${foreignNameLabel}"></span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${foreignName}"></span></td>
                </tr>
                <tr>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="100px"><img
                            height="14" src="https://p1.meituan.net/travelcube/6d2e9c3518606ba0d96776af2002956e1101.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;" th:text="${foreignSeatTypeLabel}"></span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${seatType}"></span></td>
                </tr>
                <tr>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="100px"><img
                            height="14" src="https://p0.meituan.net/travelcube/1b9027f6ac047fe95c70ec445d1e557b1122.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;" th:text="${foreignReverseTimeLabel}"></span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${reverseTime}"></span></td>
                </tr>
                <tr>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="100px"><img
                            height="14" src="https://p1.meituan.net/travelcube/082ce46036e1a6dcb168aac3c5e4ec6f1495.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;" th:text="${foreignPhoneLabel}"></span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${phone}"></span></td>
                </tr>
                <tr th:if="${discountStyle}">
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #555555;font-size: 12px;"
                        width="100px"><img
                            height="14" src="https://p0.meituan.net/travelcube/324887caca1eee9dff4a4949908e26b01027.png" style="vertical-align: middle;margin-right: 3px;"
                            width="14"/> <span
                            style="vertical-align: middle;" th:text="${foreignDiscountLabel}"></span></td>
                    <td style="padding: 10px 0;border-bottom: 1px solid #F0F0F0;font-size: 14px;color: #111111;line-height: 18px;font-weight:bold;">
                        <span th:text="${foreignDiscount}"></span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div style="background: #FAFAFA; border-radius: 5px; color: #ACACAC; font-size: 12px; text-align: center; padding: 9px 0; margin-bottom: 30px; margin-top: 30px;">
                Meituan-海外旅行
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="border-bottom: 1px solid #F0F0F0;width: 100%;"></div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
