<!doctype html>
<html data-theme="dark" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme">
    <link href="/css/pico.min.css" rel="stylesheet">
    <title>Hello world!</title>
<!--    <style>-->
<!--        :root {-->
<!--            &#45;&#45;bg-color: #3D3F41FF;-->
<!--            &#45;&#45;text-color: #A9A9A9FF;-->
<!--            &#45;&#45;text-size: 15px;-->
<!--        }-->
<!--        body {-->
<!--            background-color: var(&#45;&#45;bg-color);-->
<!--            color: var(&#45;&#45;text-color);-->
<!--            font-size: var(&#45;&#45;text-size);-->
<!--        }-->
<!--    </style>-->
</head>
<body >
<main class="container" >
    <h1>Hello world!</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">Planet</th>
            <th scope="col">Diameter (km)事实上</th>
            <th scope="col">Distance to Sun (AU)</th>
            <th scope="col">Orbit (days)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Mercury</th>
            <td>4,880</td>
            <td>0.39</td>
            <td>88</td>
        </tr>
        <tr>
            <th scope="row">Venus</th>
            <td>12,104</td>
            <td>0.72</td>
            <td>225</td>
        </tr>
        <tr>
            <th scope="row">Earth</th>
            <td>12,742</td>
            <td>1.00</td>
            <td>365</td>
        </tr>
        <tr>
            <th scope="row">Mars</th>
            <td>6,779</td>
            <td>1.52</td>
            <td>687</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="row">Average</th>
            <td>9,126</td>
            <td>0.91</td>
            <td>341</td>
        </tr>
        </tfoot>
    </table>
</main>
<script>
    window.onload = function () {
        // function f() {
        //     alert('f');
        // }
        // f();
        // // //参数可以带过来
        // // alert(window.location.href);
        // window.queryGlobalStyle({
        //     request: 'request', onSuccess: function (response) {
        //         alert(response);
        //         let result = JSON.parse(response);
        //         let textColor = result.globalColorStyle === 'dark' ?  '#A9A9A9FF' : '#000000FF';
        //         let background = result.globalColorStyle === 'dark' ?  '#3D3F41FF' : '#FFFFFF';
        //         document.documentElement.style.setProperty('--bg-color', background);
        //         document.documentElement.style.setProperty('--text-color', textColor);
        //         document.documentElement.style.setProperty('--text-size', result.fontSize + 'px');
        //     }, onFailure: function (error_code, error_message) {
        //     }
        // });




    }


</script>
</body>
</html>
