<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <style>
        body {
            background-color: white;
            color: black;
        }

        @media (prefers-color-scheme: dark) {
            body {
                background-color: black;
                color: white;
            }
        }
    </style>
</head>
<body>
<h1>测试</h1>
<script>
    window.onload = function () {
        //参数可以带过来
        alert(window.location.href);
    }

</script>
</body>
</html>
